{
    "check-coverage": true,
    "lines": 75,
    "statements": 75,
    "functions": 85,
    "branches": 66,
    "include": [
        "app/**/*.js"
    ],
    "exclude": [
        "app/templates/**",
        "app/fallback_*.js"
    ]
}